# Python
venv/
backend/venv/
__pycache__/
*.pyc

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
frontend/build/

# MacOS generado
GeneratedPluginRegistrant.swift